<h3 mat-dialog-title="" id="hi-dataname">Hi {{data.userName}}</h3>
    <div mat-dialog-content="">
      <p>xfunction.cn内的工具多为作者工作和学习历程所提炼所得（固网站中文名为“读书笔记”），具有实用性强、无使用门槛和在线使用的特点，同时与移动互联网的环境做了必要的整合。</p>
      <p>联系方式：bandgapcn@hotmail.com</p>
      <img src="/assets/images/trans-black-full-logo.png" width="200px">            
    </div>
    <div mat-dialog-actions="">
      <!--<button mat-button="" (click)="onNoClick()">No Thanks</button>-->
      <button mat-button="" [mat-dialog-close]="data.userName" cdkfocusinitial="">关闭</button>
    </div>

